---
title: Archive | Palo Alto Girls Math Tournament
---
<!DOCTYPE html>
<html lang="en">
{% include head.html glasshover="true" marquee="true" %}
<body>
{% include navbar.html %}

<main>
    <h1 class="display-5 text-white text-center">PAGMT CONTEST ARCHIVE</h1>
    <div id="glass-card-container" class="container">
        {% for contest in site.data.archive %}
            <div class="glass-card card card-border my-3 overflow-hidden">
            <div class="row row-cols-1 row-cols-md-2 w-100 align-self-center g-0">
                <div class="col col-lg-6 col-md-4 p-0 d-flex">
                    <div class="archive-image w-100 p-0">
                        <img class="w-100 h-100" src="{{contest.image}}" style="object-fit: cover; display: block;">
                    </div>
                </div>

                <div class="col col-lg-6 col-md-8 p-0 d-flex flex-column align-items-center">
                    <div class="row d-flex row-cols-1 w-100 text-center pt-2 year-title">
                        <p class="h1">{{contest.year}}</p>
                    </div>
                    <div class="row flex-lg-fill d-flex row-cols-1 row-cols-md-{{contest.comps.size | plus: 1}} w-100 pb-md-1 pb-lg-0">
                        <div class="col d-flex flex-column px-3 align-items-center pb-sm-3 pb-md-0 justify-content-evenly text-center">
                            <p class="h5" style="z-index: 4;">
                                {{contest.message}}
                            </p>
                            {% for item in contest.links %}
                            <p class="h5" style="z-index: 4;">
                                <a href="{{item.url}}" target="_blank">
                                    {{item.name}}
                                </a>
                            </p>
                            {% endfor %}
                        </div>
                        {% for comp in contest.comps %}
                        <div class="col d-flex flex-column px-3 pb-sm-3 pb-md-0 justify-content-center">
                            <p class="h5 align-self-center">{{comp.title}}</p>
                            <p class="m-0">top 75%: {{comp.top75}}</p>
                            <p class="m-0">top 50%: {{comp.top50}}</p>
                            <p class="m-0">top 20: {{comp.top20}}</p>
                            <p class="m-0">top 10: {{comp.top10}}</p>
                            <p class="m-0">top score: {{comp.top1}}</p>
                            <p class="m-0"><i>*ties broken by estimation</i></p>
                            <p class="m-0 align-self-center">max possible score: {{comp.maxscore}}</p>
                            <p class="m-0 align-self-center">average score: {{comp.average}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</main>
</body>
</html>
