---
title: PAGMT | Palo Alto Girls Math Tournament
---
<!DOCTYPE html>
<html lang="en">
{% include head.html glasshover="true" marquee="true" %}
<body>
{% include navbar.html %}

<main id="glass-card-container" class="container-lg">
    <h1 class="display-5 text-center" style="color: ghostwhite;">CONTEST INFORMATION</h1>

    <div class="row row-cols-1 row-cols-sm-2 g-4 mx-2 my-1 px-1">
        <div class="col">
            <div class="glass-card card card-border h-100">
                <div class="card-body text-center">
                    <h2>TIME & LOCATION</h2>
                    <p class="h5">
                        PAGMT 2025 will be held at Palo Alto High School's MAC (Media Arts Center) in Palo Alto, California on Friday, May 9th, 2025 from 5:00 PM to 8:30 PM.
                    </p>
                    <!--
                    <p class="h5">
                        Click <a href="/docs/Schedule+Location.pdf#zoom=36" target="_blank">here</a> for more details.
                    </p>
                    -->
                </div>
            </div>
        </div>
        <div class="col">
            <div class="glass-card card card-border h-100">
                <div class="card-body text-center">
                    <h2>ELIGIBILITY</h2>
                    <p class="h5">
                        PAGMT is open to all 6th-8th graders who identify as girls. 
                        While we are aimed mostly towards PAUSD students, students from other schools are welcome to join as well! 
                        Any experience level is welcome, and elementary students are also encouraged to join.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-3 g-4 mx-2 my-1 px-1">
        <div class="col">
            <div class="glass-card card card-border h-100">
                <div class="card-body text-center">
                    <h2>MATERIALS</h2>
                    <p class="h5">
                        Participants should bring their own pencils, pens, and erasers.
                        Scratch paper will be provided.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="glass-card glow-card card card-border h-100">
                <div class="card-body text-center">
                    <h2>REGISTRATION</h2>
                    <p class="h5">
                        <a href="https://forms.gle/7JdHSKN4r7H9F3fq7">Registration is open now until May 7th, 11:59 pm PT!</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="glass-card card card-border h-100">
                <div class="card-body text-center">
                    <h2>PROBLEMS</h2>
                    <p class="h5">
                        Problems will be sorted in ascending difficulty and cover a variety of topics including algebra, geometry, number theory, and combinatorics.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 g-4 mx-2 my-1 px-1">
        <div class="col">
            <div class="glass-card card card-border h-100">
                <div class="card-body text-center">
                    <h2>PRIZES</h2>
                    
                    <p class="h5">1st: $150 Amazon gift card</p>
                    <p class="h5">2nd: $130 Amazon gift card</p>
                    <p class="h5">3rd: $110 Amazon gift card</p>
                    <p class="h5">4th: $90 Amazon gift card</p>
                    <p class="h5">5th: $70 Amazon gift card</p>
                    <p class="h5">6th: $50 Piazza’s gift card</p>
                    <p class="h5">7th: $50 Sweet 55 gift card</p>
                    <p class="h5">8th: $25 Books Inc. gift card</p>
                    <p class="h5">9-12th: Distinguished Honorable Mention</p>
                    <p class="h5">13th-20th: Honorable Mention</p>
                    <p class="h5">Raffle: $350 AJ Tutoring Coupon for Math Classes, 4 $25 AoPS coupons</p>
                    <p class="h5">
                        MORE TBD
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="glass-card card card-border h-100">
                <div class="card-body text-center">
                    <h2>CONTEST FORMAT</h2>
                    <p class="h5">There will be 1 exam with the following specifications:</p>
                    <p class="h5">Free Response</p>
                    <p class="h5">Individual</p>
                    <p class="h5">1 hour</p>
                    <p class="h5">30 math questions, 1 estimation question</p>
                    <p class="h5">Math problems will be worth 1 point per correct answer. The estimation problem will be scored on a scale of 0.00 to 30.00 based on how close the estimate is to the actual answer.</p>
                    <p class="h5">Participants will be ranked by their scores on the math portion. The estimation score will be used to break ties.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="accordion">
            <div class="m-4">
                <div class="glass-card card-border position-relative">
                    <div class="accordion-item border-0 bg-transparent">
                        <button class="accordion-button collapsed w-100 h-100 p-4 position-relative" type="button" 
                                data-bs-toggle="collapse" data-bs-target="#scheduleContent" 
                                aria-expanded="false" aria-controls="scheduleContent"
                                style="z-index: 10;">
                            <h3 class="card-title h3 m-0">SCHEDULE</h3>
                        </button>
                    </div>
                    <div id="scheduleContent" class="accordion-collapse collapse" aria-labelledby="schedule">
                        <div class="accordion-body pt-0">
                            <div class="border-top pt-3">
                                <p class="h5"> 4:45 — 5:15 Check-In</p>

                                <p class="h5"> 5:15 — 5:30 Opening Ceremony/Rules (for competitors)</p>

                                <p class="h5"> 5:30 — 6:30 Contest Window (for competitors)</p>

                                <p class="h5"> 6:30 — 7:00 Free Pizza Dinner (for competitors)</p>

                                <p class="h5"> 7:00 — 7:30 Information on STEM opportunities at Paly and our sponsors (for everyone)</p>

                                <p class="h5"> 7:30 — 8:00 Math talk by Stanford mathematics professor and 3-time IMO gold medalist Eugenia Malinnikova (for everyone)</p>

                                <p class="h5"> 8:00 — 8:30 Awards Ceremony (for everyone)</p>

                                <p class="h5"> *all times are in PT</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="m-4">
                <div class="glass-card card-border position-relative">
                    <div class="accordion-item border-0 bg-transparent">
                        <button class="accordion-button collapsed w-100 h-100 p-4 position-relative" type="button" 
                                data-bs-toggle="collapse" data-bs-target="#rulesContent" 
                                aria-expanded="false" aria-controls="rulesContent"
                                style="z-index: 10;">
                            <h3 class="card-title h3 m-0">RULES</h3>
                        </button>
                    </div>
                    <div id="rulesContent" class="accordion-collapse collapse" aria-labelledby="rules">
                        <div class="accordion-body pt-0">
                            <div class="border-top pt-3">
                                <h4> All competitors are expected to adhere to academic honesty. </h4>
                                <p>- Students’ work and solutions to each problem should be of their own, and no discussion is allowed until after the contest window</p>
                                <p>- Absolutely NO electronic devices are allowed as aids or communication devices during the rounds</p>
                                <p>- Other tools outside of writing utensils, erasers, and blank paper are not allowed.<br>
                                    This includes but is not limited to rulers, compasses, protractors, abaci, calculators, and graph paper</p>
                                <p>- Any individual who attempts to cheat will be disqualified</p>
                                <p>- Any futher rule clarifications may be asked prior to the start of the contest</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>
<footer class="text-center">
    <p>&copy; 2025 Palo Alto Girls Math Tournament. All rights reserved.</p>
</footer>
</body>
</html>
