@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
    font-family: "Inter", sans-serif;
    --bs-body-color: #212427;
    --bs-primary-text-emphasis: #000000;
    --bs-border-color: #149631;
    /* --bs-body-bg: #0d1117; */
    --bs-body-bg: #ACC7AA;
    --bs-primary-bg-subtle: #111111;

    --bs-link-color-rgb: 69, 148, 63;

    /* define some custom colors */
    --green: #149631;
    --transparent-green: #14963125;
    --bg-green: #44ed382b;

    /* Override a bunch of styling for accordion in contest.html */
    --bs-accordion-border-color: transparent;
    --bs-accordion-btn-focus-box-shadow: transparent;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23149631'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23149631'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

    /* Override a bunch of styling for navbar */
    --bs-navbar-nav-link-padding-x: 1.3rem;
    --bs-nav-link-font-size: 1.5rem;
    --bs-nav-link-font-weight: bold;
}




.hero {
    font-weight: 600;
    font-size: 11.5vw;
    letter-spacing: 3vw;
    font-family: "Limelight";;
}

.date {
    font-size: 60px;
    letter-spacing: 0.3vw;
    margin-bottom: 0;
    z-index: 3;
    position: relative;
}

main div.Register a {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: center;
    color: var(--bs-body-color);
    font-size: 1.8vw;
    text-decoration: none;
    border-radius: 10px;
    outline: 0.2vw solid var(--green);
    padding: 20px 48px;
    position: relative;
    backdrop-filter: blur(5px);
    background-color: var(--bg-green);
    z-index: 4;
    transition: all 0.2s ease-in-out;
}

main div.Register a:hover {
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 1.15vw 1px var(--green);
    rotate: 1deg;
}

main div.Discord a {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    color: #9656ce;
    font-size: 1.8vw; /* Keep original smaller font size */
    text-decoration: none;
    border-radius: 10px;
    outline: 0.2vw solid #9656ce;
    padding: 20px 20px; /* Keep original padding */
    position: relative;
    z-index: 3;
    backdrop-filter: blur(5px);
    background-color: #9656ce25;
}

main div.Discord a:hover {
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 1.15vw 1px rgb(150, 86, 206);
    rotate: 1deg;
}

main div.Contest a {
    display: flex;
    align-items: center;
    color: var(--bs-body-color);
    font-size: 2.8vw;
    text-decoration: none;
    border-radius: 10px;
    outline: 0.2vw solid var(--bs-border-color);
    padding: 1.2vw 2vw;
    box-shadow: 0 0 1.15vw 5px rgb(255, 0, 0);
}

main div.Contest a:hover {
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 1.15vw 10px rgb(255, 0, 0);
}

#delayed-button {
    opacity: 0;
    transition: opacity 3s ease-out;
    height: 2.1275vh;
}

#delayed-button.active {
    cursor: pointer;
    opacity: 1;
    animation: .6s linear 0.2s infinite alternate bounce;
}


@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-1em);
    }
}

.AboutUs {
    line-height: 200%;
    font-size: 2.2vw;
    letter-spacing: 0.2875vw;
    
}

.AboutUs .heading {
    margin: 3vw;
    padding-top: 8.5vw;
    font-size: 6vw;
    color: var(--green);
}

.FAQ {
    padding: 1.2vw;
    margin: 3vw;
    font-size: 3rem;
    letter-spacing: 0.2875vw;
    text-align: center;
    color: var(--green);
}

.question {
    padding: 1.2vw;
    margin: 0.2875vw;
    font-size: 2rem;
    letter-spacing: 0.115vw;
    text-align: left;   
}

.answer {
    padding: 1.2vw;
    margin: 1.8vw;
    color: #212427;
    font-size: 1.2rem;
    letter-spacing: 0.115vw;
    text-align: left;
}

.Sponsors {
    padding: 1.2vw;
    margin: 3vw;
    font-size: 4rem;
    letter-spacing: 0.2875vw;
    text-align: center;
}

.sponsor-tier {
    margin: 1vw;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    color: var(--bs-body-color);
    border-radius: 2vw;
    border: 0.23vw solid var(--bs-border-color);
}

.Sponsors .row {
    justify-content: center;
}

.fade-in-text {
    opacity: 0;
}

.fade-in-text.fade-in {
    opacity: 1;
}

.card{
    border: none;
}

.card-border {
    border-radius: 1rem;
    border: 0.23vw solid var(--bs-border-color);
}

.card-flip > div {
    backface-visibility: hidden;
    transition: transform 0.5s;
    width: 100%;
    height: 100%;
    min-height: 22rem;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
    position: absolute;
}

.card-flip:hover .card-front {
    transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
    transform: rotateY(0deg);
}

.circle-cutout {
    width: 80%; /* Set the desired width */
    height: auto; /* Set the desired height */
    overflow: hidden;
    border-radius: 25%; /* Make the container circular */
    margin: auto auto 1.15vw;
}

.circle-cutout img {
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space under the image */
}

.socials {
    justify-content: center;
    align-items: center;
    margin: 0;
    fill: #fcfcfc;
}

.socials:hover,
.socials:active {
    transform: translateY(-0.115vw);
    transition: all 0.3s ease-in-out;
}

.socials path {
    fill: #fcfcfc;
}

.socials:hover path,
.socials:active path {
    fill: var(--bs-body-color);
}

.svg-buttons svg {
    width: 24px;
    height: 24px;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-custom {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--bs-body-color);
    font-size: 3.6vw;
    text-decoration: none;
    border-radius: 0.575vw;
    padding: 1.2vw 3vw;
    width: 100%;
    border-color: var(--bs-border-color);
    border-width: 0.2vw;
}


/* Adjust button padding */
.btn-custom-padding {
    padding: 10px 20px;
}

/* Change button size */
.btn-custom-lg {
    font-size: 1.5rem;
}

/* Modify button shape */
.btn-custom-rounded {
    border-radius: 20px;
}

/* Customize hover and focus states */
.btn-custom:hover {
    border-color: var(--bs-border-color);
    border-width: 0.2vw;
    box-shadow: 0 0 1.15vw 1px rgb(255, 0, 0);
    rotate: 1deg;
    transition: all 0.2s ease-in-out;
}

.btn-custom:focus {
    border-color: var(--bs-border-color);
    border-width: 0.2vw;
    color: black;
    background-color: var(--bs-body-color);
}

.btn-custom:active {
    border-color: var(--bs-border-color) !important;
    border-width: 0.2vw;
    color: black !important;
    background-color: var(--bs-body-color) !important;
    box-shadow: 0 0 1.15vw 1px rgb(255, 0, 0);
}


.btn-image {
    border-radius: 0;
    border-width: 0;
    width: 100%;
    height: auto;
}

.accordion-button {
    background-color: #00000000 !important;
    z-index: 6;
}


.archive-card {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header header"
        "main main . sidebar"
        "footer footer footer footer";
}

.glow-card:hover {
    box-shadow: 0 0 10px var(--bs-border-color);
}

.glow-card {
    box-shadow: none;
}

.glass-card:hover {
    transform: scale(1.03);
}

.glass-card {
    /*border-radius: 10px;*/
    border: 2px solid var(--green);
    background-color: var(--transparent-green);
    backdrop-filter: blur(3px);
    transition: transform 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.glass-card:hover::before {
    opacity: 1;
}

.glass-card::before,
.glass-card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 500ms;
}

.glass-card::before {
    background: radial-gradient(
            800px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.06),
            transparent 40%
    );
    z-index: 3;
}

.card::after {
    background: radial-gradient(
            600px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.4),
            transparent 40%
    );
    z-index: 1;
}


#glass-card:hover > .glass-card::after {
    opacity: 1;
}

.glass-card > .card-body {
    border-radius: inherit;
    z-index: 5;
}


.marquee {
    overflow: hidden;
    width: 100%;
    position: relative;
}


.marquee-track {
    display: flex;
    justify-content: center;
    min-height: auto;
    align-items: stretch;
    height: auto;
}

.marquee-item {
    height: fit-content;
    width: 30%;
    position: absolute;
}

.year-title {
    background: radial-gradient(ellipse 100% 100% at 50% -45px, #14963147, transparent 100%);
}

.archive-button {
    border-radius: 10px;
    border: solid 2px #ff114547;
    box-shadow: inset 0 0 130px 0 #ff114420;
    background: black linear-gradient(transparent 50%, transparent);
    height: 100%;
    width: 100%;
    z-index: 3;
    text-decoration: none;
    transition: all 0.5s ease;
    backdrop-filter: blur(5px);
}

.archive-button:hover {
    transform: scale(1.05) rotate(2deg);
}

.archive-button-label {
    background: linear-gradient(transparent 20%, rgba(0, 0, 0, 0.8) 80%);
    mask-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255, 0.5));
    border-radius: 0 0 10px 10px;
    border-width: 10px;
    width: 100%;
    z-index: 4;
}


.archive-button-label p {
    font-weight: 900;
    color: var(--bs-body-color);
}

.puzzle-icon {
    rotate: -45deg;
    height: 80%;
    transition: rotate 0.3s ease;
}

/* .archive-button:hover .puzzle-icon{
    rotate: -60deg;
    animation: shake 1s linear infinite;
    animation-fill-mode: forwards;
} */


.trophy-icon {
    height: 80%;
}


.bar {
    background-color: white;
    width: 3vw;
    height: 1px;
    transition: transform 1s ease, visibility 1s linear;
    bottom: 0;
    transform-origin: 100% 100%;
    visibility: hidden;
    translate: 0 -6000%;
    z-index: -1;
}

.bar1 {
    --scaley: 2000%;
}

.bar2 {
    --scaley: 4000%;
}

.bar3 {
    --scaley: 3000%;
}

.bar-space {
    background-color: blue;
    width: 20px;
    height: 0;
}

.archive-button:hover .bar {
    transform: scaleY(var(--scaley));
    visibility: visible;
}

.archive-image {
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: black;
    z-index: 3;
    position: relative;
}


@media (max-width: 768px) {
    .archive-sponsor {
        font-size: 2rem;
    }

    .year-title p {
        font-size: 3rem;
    }

    .marquee {
        height: 100px;
    }

    .archive-image {
        height: 270px;
    }
}

@media (min-width: 768px) {
    .archive-sponsor {
        font-size: 1.3rem;
    }

    .year-title p {
        font-size: 1.5rem;
    }

    .archive-button-label p {
        font-size: 1.25rem;
    }

    .archive-image {
        height: 280px;
    }
    .archive-image img {
        height: -webkit-fill-available;
    }
}

@media (min-width: 992px) {
    .archive-sponsor {
        font-size: 1.5rem;
    }

    .year-title p {
        font-size: 2rem;
    }

    .archive-button-label p {
        font-size: 1.75rem;
    }

    .archive-image {
        height: 310px;
    }
}

@media (min-width: 1200px) {
    .archive-sponsor {
        font-size: 2rem;
    }

    .year-title p {
        font-size: 2.5rem;
    }

    .archive-button-label p {
        font-size: 2rem;
    }

    .archive-image {
        height: 300px;
    }
}

@media (min-width: 1400px) {
    .archive-sponsor {
        font-size: 2.5rem;
    }

    .year-title p {
        font-size: 3rem;
    }

    .archive-button-label p {
        font-size: 2.5rem;
    }

    .archive-image {
        height: 350px;
    }
}

/*
  .carousel-item {
    min-width: 200px; /* Adjust based on your needs 
    padding: 20px;
    background: #ddd;
    margin: 0 10px;
    text-align: center;
    flex-shrink: 0;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
*/
  